// out: main.css, sourcemap: true, compress: false
@import "reset.styl";
*
  position relative

.container-fluid
  padding-top 65px

.reps-list
  padding-top 50px

button, .input-group
  margin-top 20px
